<!-- <div *ngFor="let order of orderList">
  <label class="name">
    {{order.product}}
  </label>
  <label>{{order.description}}</label>
  <span>Order Number: {{order.orderNumber}}</span>
  <br>
</div> -->
<div *ngIf="!currentOrder">
  <mat-card class="order-card" *ngFor="let order of orderList | orderName:searchFilter">
    <mat-card-header>
      <mat-card-title>{{order.product}}</mat-card-title>
      <mat-card-subtitle>Order Number: {{order.orderNumber}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>
          {{order.description}}
        </span>
        <img class="noselect generateIcon" src="assets/generate.png" *ngIf="!isOpenQRSearch" matTooltip="Generate QR code" (click)="showDetail(order.orderNumber)">
      </div>
    </mat-card-content>
  </mat-card>
</div>

<app-order-detail [orderNumber]="currentOrder" (showDetailEvent)="showDetail($event)" *ngIf="currentOrder"></app-order-detail>