.order-card {
    margin: 0 0 8px;
    border-radius: 12px;

    .mat-card-title {
        font-size: 22px;
        font-weight: 600;
        color: #2e7d32;
    }

    .mat-card-content {
        margin: 0 8px;
    }

    .generateIcon {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}