<div fxLayout="row" fxLayoutAlign="center start">
  <div class="menu-container" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex appearance="fill">
        <input matInput placeholder="Search order by number or product name" [(ngModel)]="searchFilter" [disabled]="isOpenQRSearch">
        <mat-icon matSuffix class="reset-input" (click)="searchFilter = ''" *ngIf="!isOpenQRSearch && searchFilter">favorite</mat-icon>
        <mat-icon matSuffix class="reset-input" (click)="searchFilter = ''" *ngIf="!isOpenQRSearch && !searchFilter">favorite_border</mat-icon>
      </mat-form-field>
      <!-- <i class="material-icons noselect scanIcon" (click)="isOpenQRSearch = true" *ngIf="!isOpenQRSearch" matTooltip="Scan QR code">center_focus_strong</i> -->
      <!-- <div  fxLayout="row" fxLayoutAlign="center start"> -->
      <img class="noselect scanIcon" src="assets/scan.png" *ngIf="!isOpenQRSearch" matTooltip="Scan QR code" (click)="isOpenQRSearch = true"
      />
      <!-- </div> -->
      <i class="material-icons noselect" (click)="isOpenQRSearch = false" *ngIf="isOpenQRSearch">close</i>
    </div>

    <div fxLayout="row">
      <div class="list-container" [hidden]="isOpenQRSearch">
        <app-order-list [searchFilter]="searchFilter"></app-order-list>
      </div>
    </div>

    <app-qr-search *ngIf="isOpenQRSearch" (highlightOrder)="highlightOrderEvent($event)"></app-qr-search>
  </div>
</div>