<!-- <ng2-qrcode-reader (result)="something($event)" [qrr-show]="true" [qrr-value]="'https://assets.econsultancy.com/images/resized/0002/4236/qr_code-blog-third.png'"
  [qrr-type]="'url'"></ng2-qrcode-reader>
<div #result fxFlex="20" fxFill></div> -->

<div fxLayout="row" fxLayoutAlign="center start">
  <div class="menu-container" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field>
        <input matInput placeholder="Search order by product or number" [(ngModel)]="searchFilter">
      </mat-form-field>
      <button mat-button (click)="isOpenQRSearch = true">Buscar por QR</button>
    </div>

    <div fxLayout="row">
      <div class="list-container" *ngIf="!isOpenQRSearch">
        <app-order-list [highlightedOrder]="highlightedOrder" [searchFilter]="searchFilter"></app-order-list>
      </div>
    </div>

    <app-qr-search *ngIf="isOpenQRSearch" (highlightOrder)="highlightOrderEvent($event)"></app-qr-search>
  </div>
</div>
<!-- 
{{valueScanner | json}}
<ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="value">sfd
</ngx-qrcode>
<ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="'something'">
</ngx-qrcode>
<div style="width: 200px; height: 200px">
  <qr-scanner [debug]="false" [canvasWidth]="1080" [canvasHeight]="1080" [stopAfterScan]="true" [updateTime]="500">
  </qr-scanner>
</div> -->